@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/*GENERAL*/
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato";    
}
 
body {
width: 1440px;
height: 7086px;
top: -8532px;
left: -5942px;
background: #FFFFFF;
}

/*HEAD SECTION*/
#heading {
height: 83px;
padding: 0px 60px 0px 60px;
gap: 10px;
background: #FFFFFF;
position: fixed;
top: 0;
left: 0;
right: 0;
}



.nav {
width: 1,300px;
height: 58px;
display: flex;
justify-content: space-between;
margin-top: 12.5px;
}

.nav img {
width: 130px;
height: 58px;
}

.nav ul {
display: flex;
width: 361px;
height: 24px;
margin-top: 17px;
gap: 40px;
}


.nav ul a {
    text-decoration: none;
}

.nav ul li {
color: #181A18;
list-style-type: none;
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 24px;
text-align: left;
}




/* HERO SECTION*/
 
#hero-section {
    background: url(/Image.png) no-repeat center center/cover;
    height: 767px;
    width: 1440px;
    padding-top: 140px;
    margin-top: 12.5px;
}

.wrapper{
width: 493px;
height: 336px;
padding: 60px 80px 60px 80px;
gap: 32px;
border-radius: 0px 60px 60px 0px;
background: #fff;
}

.text {
width: 325px;
height: 216px;
gap: 24px;
}

.text h1{
width: 325px;
height: 120px;
font-size: 52px;
font-weight: 700;
line-height: 60px;
text-align: left;
}

#hero-section .text p {
width: 325px;
height: 72px;
font-size: 18px;
font-weight: 400;
line-height: 24px;
text-align: left;
margin-top: 24px;
}


/*FUTURE SECTION*/

#future {
width: 1280px;
height: 378px;
display: flex;
justify-content: center;
margin-top: 170px;
margin-left: 80px;
margin-right: 80px;
top: 1020px;
left: 80px;
}

.future-left {
width: 640px;
height: 378px;
display: grid;
grid-template-columns: 1fr 1fr;
}

.future-left img {
width: 320px;
height: 189px;
}

.future-right {
width: 640px;
height: 378px;
left: 640px;
padding: 120px 80px 120px 80px;
gap: 32px;
border-radius: 0px 60px 60px 0px;
background: #F2F0F2;
}

.right-text {
width: 480px;
height: 138px;
gap: 24px;
}


.right-text h2 {
height: 54px;
font-size: 48px;
font-weight: 700;
line-height: 54px;
color: #181A18;
margin-bottom: 24px;
text-align: left;
}

.right-text p {
height: 60px;
color: #181A18;
font-size: 16px;
font-weight: 400;
line-height: 20px;
text-align: left;
}


#features {
height: 480px;
top: 1538px;
margin-top: 140px;
padding: 0px 80px 0px 80px;
gap: 60px;
}

.writeup {
width: 847px;
height: 172px;
margin: auto;
gap: 16px;
}

.writeup h2 {
height: 108px;
font-size: 48px;
font-weight: 700;
line-height: 54px;
color: #181A18;
text-align: center;
}

.writeup p {
height: 48px;
font-size: 18px;
font-weight: 400;
line-height: 24px;
margin-top: 16px;
text-align: center;
}

.service {
width: 1,280px;
display: flex;
justify-content: space-between;
height: 248px;
margin-top: 60px;
gap: 20px;
}



.service-content {
width: 305px;
height: 248px;
padding: 32px 40px 32px 40px;
gap: 16px;
border-radius: 30px;    
background: #E2F1E8;
color: #181A18;
}


.service-content h4 {
width: 225px;
height: 32px;
font-size: 24px;
font-weight: 700;
margin-top: 16px;
line-height: 32px;
text-align: left;
}

.service-content p {
width: 225px;
height: 60px;
margin-top: 16px;
font-size: 16px;
font-weight: 400;
line-height: 20px;
}


#location {
width: 1,440px;
height: 502px;
margin-top: 140px;
top: 2158px;
padding: 0px 80px 0px 80px;
gap: 60px;
}

#location h2 {
width: 452px;
height: 54px;
font-size: 48px;
font-weight: 700;
margin: auto;
line-height: 54px;
color: #181A18;
text-align: left;
text-wrap: nowrap;
}

.cities {
width: 1,280px;
height: 280px;
display: flex;
justify-content: space-between;
justify-items: center;
margin-top: 60px;
gap: 20px;
}
figure {
margin-top: 32px;
}

figcaption {
width: 196px;
height: 32px;
margin-bottom: 20px;
text-align: center;
font-size: 24px;
font-weight: 700;
line-height: 32px;
}
/* 
figcaption:nth-child(5) {
    margin-bottom: 32px;
} */


.btn a {
width: 121px;
height: 24px;
font-size: 18px;
font-weight: 700;
line-height: 24px;
}


 .btn a button {
width: 201px;
height: 48px;
padding: 12px 40px 12px 40px;
margin-top: 60px;
border: none;
border-radius: 40px;
background: #064749;
cursor: pointer;
color: #FFFFFF;
margin-left: 550px;
 }


#bookings {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%), url(/Bookings\ bg\ img.png) no-repeat center center/cover;
width: 1,440px;
height: 506px;
top: 2800px;
padding: 140px 80px 140px 80px;
gap: 60px;
margin-top: 140px;
}

.bookings-content {
width: 522px;
height: 226px;
}

.bookings-content h2 {
width: 337px;
height: 54px;
font-size: 48px;
font-weight: 700;
line-height: 54px;
color: #FFFFFF;
}

.bookings-content p {
width: 522px;
height: 48px;
margin-top: 16px;
font-size: 18px;
font-weight: 400;
line-height: 24px;
color: #FFFFFF;
}

#bookings a {
width: 108px;
height: 24px;  
font-size: 18px;
font-weight: 700;
line-height: 24px;
}

#bookings button {
margin-top: 60px;
width: 188px;
height: 48px;
padding: 12px 40px 12px 40px;
gap: 10px;
border: none;
border-radius: 40px;
background: #064749;
color: #FFFFFF;
cursor: pointer;
}



#partners {
width: 1,440px;
height: 526px;
top: 3306px;
padding: 140px 80px 0px 80px;
gap: 60px;
}


.partners-text {
width: 1,280px;
height: 118px;
gap: 16px;
}

.partners-text h2 {
height: 54px;
font-size: 48px;
font-weight: 700;
line-height: 54px;
color: #181A18;
text-align: center;
}

.partners-text p {
margin: 16px auto ;
height: 48px;
font-size: 18px;
font-weight: 400;
line-height: 24px;   
text-align: center;
}


.partners-content {
display: flex;
justify-content: space-between;
width: 1,280px;
height: 208px;
margin-top: 60px;
gap: 20px;
}

.managers {
width: 413.33px;
height: 208px;
padding: 32px 40px 32px 40px;
gap: 16px;
border-radius: 30px;
background: #E2F1E8;
}

.managers h4 {
width: 333.33px;
height: 32px;
font-size: 24px;
font-weight: 700;
margin-top: 16px;
line-height: 32px;
text-align: left;
color: #181A18;
}

.managers p {
width: 333.33px;
height: 20px;
font-size: 16px;
font-weight: 400;
margin-top: 16px;
line-height: 20px;
text-align: left;
color: #181A18;
}


#sub-partners {
/* width: 2661px; */
height: 590px;
margin-top: 140px;
top: 3972px;
left: -611px;
}

.sub-partners-content {
width: 847px;
height: 94px;
margin: auto;
left: 907px;
gap: 16px;
}

.sub-partners-content h2 {
height: 54px;
font-size: 48px;
font-weight: 700;
line-height: 54px;
text-align: center;
color: #181A18;
}

.sub-partners-content p {
height: 24px;
font-size: 18px;
font-weight: 400;
margin-top: 16px;
line-height: 24px;
text-align: center;
color: #181A18;
}

.sub-partners-profile {
display: flex;
justify-content: space-between; 
margin-top: 60px;
overflow-x: auto;
height: 316px;
}

.sub-partners-profile::-webkit-scrollbar{
width: 0;
}


.sub-partners-name {
    margin-right: 60px;
border-radius: 60px 60px 60px 12px;
background: #F2F0F2;
}

.sub-partners-name p {
width: 727px;
height: 96px;
top: 160px;
margin-top: 20px;
left: 60px;
font-size: 18px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #181A18;
}

.sub-name-imgs {
display: flex;
margin-top: 60px;
}

.sub-name-imgs h4 {
    width: 63px;
height: 32px;
top: 70px;
left: 160px;
font-size: 24px;
font-weight: 700;
line-height: 32px;
text-align: left;
}

.block {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 20px;
}

.sub-name-imgs span {
width: 110px;
height: 20px;
top: 110px;
left: 160px;
font-size: 16px;
font-weight: 400;
line-height: 20px;
text-align: left;
}


 .sub-name-imgs img {
margin-left: 60px;
}


.sub-partners-profile p {
margin-left: 60px;
}

.scroll-button {
    margin: 60px auto;
display: flex;
justify-content: center;
width: 160px;
height: 60px;
top: 530px;
left: 1250px;
gap: 40px;
}

.scroll {
width: 60px;
height: 60px;
padding: 18px 0px 0px 0px;
gap: 10px;
border-radius: 12px;
background: #064749;
}


.scroll svg {
margin-left: 18px;
}


#blog { 
height: 826px;
margin-top: 140px;
top: 4702px;
left: -334px;
gap: 60px;
}

.head {

width: 847px;
height: 54px;
margin: auto;
font-size: 48px;
font-weight: 700;
line-height: 54px;
text-align: center;
color: #181A18;
}

.blog-content {
display: flex;
justify-content: space-between;
height: 604px;
margin-top: 60px;
gap: 20px;
overflow-x: auto;
}

.blog-content::-webkit-scrollbar {
    width: 0;
}

.blog-text {
width: 413px;
height: 604px;
padding: 0px 0px 60px 0px;
gap: 52px;
border-radius: 60px;
background: #F2F0F2;
}

.blog-text img {
width: 413px;
height: 300px;
border-radius: 60px 60px 0px 0px;
}

.sub-blog-text {
width: 413px;
height: 192px;
margin-top: 52px;
gap: 20px;
padding: 0px 24px 0px 24px;
gap: 12px;
}

.sub-blog-text h3 {
width: 365px;
height: 88px;
font-size: 36px;
font-weight: 700;
line-height: 44px;
text-align: left;
}

.sub-blog-text p {
width: 365px;
height: 40px;
margin-top: 12px;
font-size: 16px;
font-weight: 400;
line-height: 20px;
text-align: left;
}

.sub-blog-text h4 {
width: 213px;
height: 32px;
margin-top: 20px;
padding: 0px 32px 0px 32px;
gap: 12px;    
font-size: 24px;
font-weight: 700;
line-height: 32px;
}

.sub-blog-text h4 span {
    margin-right: 4px;
}

.btn-read a {
width: 86px;
height: 24px;
font-size: 18px;
font-weight: 700;
line-height: 24px;
}

.btn-read button {
width: 166px;
height: 48px;
padding: 12px 40px 12px 40px;
gap: 10px;
border: none;
margin-left: 680px;
/* margin-left: 989.5px; */
margin-top: 60px;
border-radius: 40px;
background: #064749;
color: #FFFFFF;
}


#links {
    width: 1,280px;
height: 282px;
margin-top: 140px;
top: 5668px;
left: 80px;
gap: 60px;
}

#links h2 {
width: 847px;
height: 54px;
font-size: 48px;
font-weight: 700;
line-height: 54px;
text-align: center;
color: #181A18;
margin: auto;
}

.links-text {
display: grid;
grid-template-columns: 1fr 1fr;
margin-top: 60px;
width: 1,280px;
height: 168px;
gap: 160px;
}

.links-text a {
font-size: 18px;
font-weight: 700;
line-height: 24px;
text-align: left;
color: #064749;
}

.left-links {
display: grid;
grid-template-columns: 1fr;
margin-left: 160px;
width: 390px;
height: 168px;
gap: 12px;
}

.right-links {
display: grid;
grid-template-columns: 1fr;
width: 379px;
height: 129px;
gap: 11px;
}



#area {
background: url(/Image1.png) no-repeat center center/cover;
width: 1440px;
height: 604px;
margin-top: 140px;
}

.area-content {
width: 493px;
height: 356px;
display: inline-block;
justify-content: center;
margin-left: 474px;
margin-top: 124px;
padding: 60px 80px 60px 80px;
border-radius: 60px 60px 60px 12px;
background: #FFFFFF;
}

.area-text {
width: 325px;
height: 156px;
gap: 24px;
}

.area-text h1 {
width: 305px;
height: 60px;
font-size: 52px;
font-weight: 700;
line-height: 60px;
text-align: left;
color: #181A18;
}

.area-text p {
width: 325px;
height: 72px;
margin-top: 24px;
font-size: 18px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #181A18;
}

.option {
    margin-top: 32px;

}

.option select  {
width: 325px;
height: 48px;
padding: 12px 20px 12px 20px;
border: none;
border-radius: 40px;
color: #FFFFFF;
background: #064749;
}

.option option {
width: 95px;
height: 24px;
font-size: 18px;
font-weight: 700;
line-height: 24px;
text-align: left;
}


#footer {
width: 1300px;
height: 192px;
margin: 140px auto;
top: 6834px;
left: 60px;
gap: 664px;
}

.logo img {
width: 130px;
height: 58px;
}

.logo-text {
width: 224px;
height: 96px;
top: 84px;
left: 20px;
gap: 20px;
}

.logo-text p {
width: 224px;
height: 20px;
margin-top: 12px;
padding-left: 20px;
font-size: 16px;
font-weight: 400;
line-height: 20px;
text-align: left;
}

.logo-text span {
padding-left: 20px;
width: 96px;
height: 24px;
gap: 12px;
}


.table {
    width: 382px;
    height: 144px;
    left: 384px;
    gap: 60px;
    display: flex;
    justify-content: space-between;
    }

.table .middle h4 {
font-size: 18px;
font-weight: 700;
margin-bottom: 16px;
line-height: 24px;
text-align: left;
color: #181A18;
}

.table .middle p {
font-size: 18px;
font-weight: 400;
margin-top: 16px;
line-height: 24px;
text-align: left;
color: #181A18;
}


.sub {
width: 394px;
height: 192px;
left: 906px;
gap: 20px;
}

.sub h4 {
font-size: 18px;
font-weight: 700;
line-height: 24px;
text-align: left;
color: #181A18;
}

.sub p {
font-size: 18px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #181A18;
margin-top: 8px;
}

.sub input {    
width: 394px;
height: 48px;
padding: 12px 40px 12px 40px;
gap: 10px;
margin-top: 20px;
border-radius: 12px;
}


.sub a {
width: 78px;
height: 24px;
font-size: 18px;
font-weight: 700;
line-height: 24px;
text-align: left;
}

.sub a button {
width: 158px;
height: 48px;
padding: 12px 40px 12px 40px;
gap: 10px;
margin-top: 20px;
border-radius: 40px;
color: #FFFFFF;
background: #064749;

}


.socials {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}





























/* #sub-partners {
border: 5px solid greenyellow;
width: 2661px;
height: 590px;
margin-top: 140px;
}

.sub-partners-content {
width: 847px;
height: 94px;
margin: auto;
left: 907px;
gap: 16px;
}

.sub-partners-content h2 {
width: 847px;
height: 54px;
font-size: 48px;
font-weight: 700;
line-height: 54px;
text-align: center;
}

.sub-partners-content p {
width: 847px;
height: 24px;
margin-top: 16px;
font-size: 18px;
font-weight: 400;
line-height: 24px;
text-align: center;
}

.sub-partners-profile {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.sub-partners-name {
width: 847px;
height: 316px;
border-radius: 60px 60px 60px 12px;
background: #F2F0F2;
}

.sub-partners-name h4 {
width: 63px;
height: 32px;
margin-left: 40px;
font-size: 24px;
font-weight: 700;
line-height: 32px;
text-align: left;
}

.sub-partners-name p {
width: 727px;
height: 96px;
margin-left: 40px;
font-size: 18px;
font-weight: 400;
line-height: 24px;
text-align: left;
}

.sub-partners-name h4, img , span{
    display: inline;
    margin-left: 40px;
}



#blog {
    border: 5px solid black;
width: 2145px;
height: 826px;
}







 */
































/*HEADER-SECTION*/
/* #header-section {
    width: 1440px;
    height: 58px;
    margin-bottom: 12.5px;
    border: 2px solid green;
} 

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
}

.logo img {
width: 130px;
height: 58px;
}

.nav-list {
    width: 361px;
    height: 24px;
    gap: 40px;
    margin-top: 12px;
}

.nav-list ul {
    list-style-type: none;
    display: flex;
    gap: 40px;
    justify-content: center;
    justify-items: center;
}

.nav-list ul li {
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.nav-list ul li a {
    text-decoration: none;
    color: #181A18;
}
 */


/* HERO SECTION*/
/* #hero-section {
    background: url(/Image.png) no-repeat center center/cover;
    min-height: 767px;
    min-width: 1440px;
    padding-top: 140px;
    margin-top: 12.5px;
}

.wrapper{
width: 493px;
height: 336px;
padding: 60px 80px 60px 80px;
gap: 32px;
border-radius: 0px 60px 60px 0px;
background: #fff;
}

.text {
width: 325px;
height: 216px;
gap: 24px;
}

.text h1{
width: 325px;
height: 120px;
font-size: 52px;
font-weight: 700;
line-height: 60px;
text-align: left;
}

#hero-section .text p {
width: 325px;
height: 72px;
font-size: 18px;
font-weight: 400;
line-height: 24px;
text-align: left;
margin-top: 24px;
}
 */
/*FUTURE SECTION*/
/* 
.future-details1 {
    width: 1280px;
    height: 378px;
    margin-top: 170px;
    margin-left: 80px;
    margin-right: 80px;
    top: 1020px;
    display: flex;
    justify-content: space-between;
}

.future-content-wrapper {
width: 640px;
height: 378px;
padding: 120px 80px 120px 80px;
border-radius: 0px 60px 60px 0px;
gap: 32px;
background: #F2F0F2;
}


.future-content {
width: 480px;
height: 138px;
             margin-top: 120px;
                margin-left: 80px;
            margin-right: 80px; 
}

.future-content h2 {
width: 480px;
height: 54px;
font-family: "Lato";
font-size: 48px;
font-weight: 700;
line-height: 54px;
color: #181A18;
}

.future-content p {
width: 480px;
height: 60px;
font-family: "Lato";
font-size: 16.5px;
font-weight: 400;
margin-top: 24px;
line-height: 20px;
color: #181A18;

}

.image-wrapper {
    width: 640px;
    height: 378px;
}


.images {
    width: 320px;
    height: 189px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
 */

/*FUTURE DETAILS2*/

/* .future-details2 {
    margin: auto;
    height: 480px;
    padding: 0px 80px 0px 80px;
    margin-top: 140px;
    border: 2px solid blue;
}

.writeup {
    border: 2px solid green;
    width: 847px;
    height: 172px;
    gap: 16px;
    margin: auto;
}

.writeup h2 {
    width: 847px;
    height: 108px;
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    text-align: center;
    color: #181A18;
}

.writeup p {
    width: 830px;
    height: 48px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #181A18;
}



.profile {
    margin-top: 60px;
    display: flex;
    height: 1280px;
    justify-content: space-between;
    justify-items: center;
    height: 248px;
    gap: 20px;
    border: 2px solid red;
}

.icon {
    height: 60px;
    width: 60px;
}

.profile-content {
    width: 305px;
    height: 248px;
    margin: 0px 0px 20px 0px;
    border-radius: 30px;
    gap: 16px;
    padding: 32px 40px 32px 40px;
    background: #E2F1E8;
}

.profile h4 {
    width: 225px;
    height: 32px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #181A18;
}

.profile p {
    width: 225px;
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #181A18;
}
 */
/*LOCATION*/

/* .location {
    width: 1440px;
    height: 502px;
    padding: 0px 80px 0px 80px;
    margin-top: 140px;
    border: 3px solid red;
}

.location h2 {
    margin: auto;
    width: 452px;
    font-weight: 700;
    font-size: 48px;
    text-wrap: nowrap;
    line-height: 54px;
    color: #181A18;
}

.cities {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    height: 280px;
    margin-top: 60px;
    gap: 20px;
    border: 2px solid purple;
}

.images {
    width: 196px;
    height: 248px;
    gap: 20px;
}

.images figcaption {
    margin-bottom: 20px;
    text-align: center;
    width: 196px;
    height: 32px;
    font-size: 24px;
    line-height: 32px;
}






 */
